@model ProfileProjectViewModel

<div class="text-center">
    <div>
        <table class="table">
            <!--här skapar vi listan på indexsidan som innehåller användares profiler och dess 
            erfarenhet, utbildning och vilka projekt dem är med i-->
            @{
            
                
                <tr>
                    <th>Namn</th>
                    <th>Utbildning</th>
                    <th>Kompetenser</th>
                    <th>Projekt</th>
                   
                </tr>
                
                foreach (var item in Model.profiles)
                {
                    string educationString = "";
                    string experienceString = "";
                    string projectString = "";
                    <tr>
                        <td>
                            <a asp-controller="Profile" asp-action="Profile" asp-route-profileID="@item.Id">@item.FirstName @item.LastName</a>
                        </td>
                        
                        @foreach (var education in Model.educations)
                        {
                            if(education.Profileid == item.Id)
                            {
                                educationString += education.Education.Name;
                                educationString += ", ";

                            }
                        }
                        @foreach (var experience in Model.experiences)
                        {
                            if(experience.Profileid == item.Id)
                            {
                                experienceString += experience.Experience.Name;
                                experienceString += ", ";

                            }
                        }
                        @foreach (var project in Model.profileInProject)
                        {
                            if(project.Profileid == item.Id)
                            {
                                projectString += project.Project.Title;
                                projectString += ", ";

                            }
                        }

                        <td><p>@educationString</p></td>
                        <td><p>@experienceString</p></td>
                        <td><p>@projectString</p></td>

                    </tr>
                }

                
            }

        </table>
        
    </div>
</div>
<!--Här visar vi upp det senaste tillagda projektet-->
<div class="text-center">
               
    @{
        if (Model.senasteProject == null)
        {
                            <P>Det finns inga projekt att visa </P>               
        }
        
        else
        {
    

<div class="card text-center">
    <div class="card-header">
        Det senaste tillagda projektet
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.senasteProject.Title</h5>
        <p class="card-text">@Model.senasteProject.Description</p>
        <a asp-action="Project" asp-controller="Project" class="btn btn-primary">Gå till alla projekt</a>
    </div>
</div>

        }

    }
</div>
