@model List<Message>


<h1 class="text-center">Meddelanden</h1>

<div class="text-center">
    <div>
        <table class="table">
            
                <tr>
                    <th>Avsändare</th>
                    <th>Rubrik</th>
                    <th>Innehåll</th>
                    <th>Läst</th>
                    <th></th>

                
                 </tr>
            @{
                foreach(var item in Model)
                {


                    if (item.Seen == true)
                    {
                        <tr class="table-success">

                            <td>@item.SenderName</td>
                            <td>@item.Title</td>
                            <td>@item.Content</td>

                            <td>
                                @{

                                    if (item.Seen == false)

                                    {

                                        <form asp-action="MessageRead" asp-route-itemid="@item.Id">

                                            <button class="btn btn-sm btn-success" type="submit"> Markera som läst </button>
                                        </form>

                                    }
                                    else
                                    {


                                        <form asp-action="MessageRead" asp-route-itemid="@item.Id">

                                            <button class="btn btn-sm" type="submit"> Markera som oläst </button>
                                        </form>

                                    }


                                }
                            </td>
                            <td>

                                <form asp-action="DeleteMessage" asp-route-itemid="@item.Id">

                                    <button class="btn btn-danger" type="submit"> Radera </button>
                                </form>
                            
                            </td>


                        </tr>
                    }
                    else
                    {
                        <tr>

                            <td>@item.SenderName</td>
                            <td>@item.Title</td>
                            <td>@item.Content</td>

                            <td>
                                @{

                                    if (item.Seen == false)

                                    {

                                        <form asp-action="MessageRead" asp-route-itemid="@item.Id">

                                            <button type="submit"> Markera som läst </button>
                                        </form>

                                    }
                                    else
                                    {


                                        <form asp-action="MessageRead" asp-route-itemid="@item.Id">

                                            <button type="submit"> Markera som oläst </button>
                                        </form>

                                    }


                                }
                            </td>


                        </tr>
                    }
                    

                   


                }
                
                
                
            }
            
                   
            
    </div>
    
</div>

