@model List<Message>


<h1>Meddelanden</h1>

<div class="text-center">
    <div>
        <table class="table">
            
                <tr>
                    <th>Avsändare</th>
                    <th>Rubrik</th>
                    <th>Innehåll</th>
                    <th>Läst</th>

                
                 </tr>
            @{
                foreach(var item in Model)
                {
                
                
               
                    <tr>

                    <td>@item.SenderName</td>
                    <td>@item.Title</td>
                    <td>@item.Content</td>
                   
                        <td>
                            @{
                                
                                    if (item.Seen == false)

                                    {
                                    
                                        <form asp-action="MessageSeen" asp-route-itemid="@item.Id">

                                            <button type="submit"> Markera som läst </button>
                                        </form>
                                    
                                    }
                                    else
                                    {
                                    

                                    <form asp-action="MessageUnSeen" asp-route-itemid="@item.Id">

                                            <button type="submit"> Markera som oläst </button>
                                        </form>
                                    
                                    }
                                

                            }
                        </td>
                    
                    
                    </tr>


                }
                
                
                
            }
            
                   
            
    </div>
    
</div>

