@model Models.ProfileProjectViewModel;

    
<div class="text-center">
    <div>
        <table class="table">
            @{
                
                <tr>
                    <th>Skapare</th>
                    <th>Titel</th>
                    <th>Beskrivning</th>
                    <th>Deltagare</th>
                    <th></th>
                    

                </tr>
                foreach (var item in Model.project)
                {

                    List<ProfileinProject> members = Model.profileInProject.Where(e => e.Projectid == item.Id).ToList();

                    string namn ="";
                    foreach(var member in members)
                    {
                        
                        if (User.Identity.IsAuthenticated)
                        {
                            namn += member.Profile.FirstName;
                            namn += " ";
                        }
                        else
                        {
                            if(member.Profile.Private == true)
                            {

                            }
                            else
                            {
                                namn += member.Profile.FirstName;
                                namn += " ";
                            }

                        
                        }

                    }

                    int userID = (from p in members
                                  where p.Profile.UserName == User.Identity.Name
                                  select p.Profileid).FirstOrDefault();


                    var inProject = (from p in Model.profileInProject
                                     where p.Profileid == userID && p.Projectid == item.Id
                                     select p).FirstOrDefault();


                    <tr>
                        <td>@item.Creator.FirstName @item.Creator.LastName</td>
                        <td>@item.Title</td>
                        <td>@item.Description</td>
						<td>@namn</td>
                        @{
                            if(@item.Creator.UserName == User.Identity.Name)
                            {
                                
                            }
                            else{
                            if(User.Identity.IsAuthenticated)
                            {
                                if (inProject == null)

                                {
                                    <td>
                                        <form asp-action="GåMed" asp-route-projectID="@item.Id">

                                            <button type ="submit"> Gå med i projekt </button>
                                        </form>
                                    </td>
                                }
                                else
                                {
                                     <td>
                    
                                        <form asp-action="GåUr" asp-route-project="@inProject.Projectid">

                                            <button type ="submit"> Gå ur projektet </button>
                                        </form>
                                    </td>
                                }
                            }
                            }

                        }
                     
                            @{
                                if(@item.Creator.UserName == User.Identity.Name)
                                {
                                <td><a asp-action="UpdateProject" asp-route-projectID="@item.Id">Redigera projekt</a> </td>
                                }
                            }
                    </tr>
                }

            }

        </table>
        <form asp-action="addProject" method="get">
            <button type="submit">Skapa nytt projekt</button>
        </form>


    </div>
</div>